.Order {
  width: 80%;
  border-bottom: 1px solid #eee;
  padding: 10px;
  margin: 10px auto;
  line-height: 1.6;
  color: white;
  font-size: 1.3rem;
}
@media (min-width: 500px) and (min-height: 400px) {
  .Order {
    width: 50%;
  }
}
