.MenuItem {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  align-items: center;
}
.MenuItem a {
  font-family: "Architects Daughter", cursive;
  display: block;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  transition: all 0.3s ease-out;
}
.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active {
  color: rgb(180, 255, 249) !important;
  text-shadow: 0 0 10px #fff, 0 0 20px #00e1ff, 0 0 27px #00e1ff;
}

@media (min-width: 500px) {
  .MenuItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  .MenuItem a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
  }
  .MenuItem a:hover,
  .MenuItem a:active,
  .MenuItem a.active {
    color: #00e0fd;
  }
}
