.Menu {
  display: flex;
  list-style: none;
  flex-flow: column;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
}

@media (min-width: 500px) {
  .Menu {
    flex-flow: row;
  }
}
