.ContactData {
  font-family: "Architects Daughter", cursive;
  width: 90%;
  border: 1px solid #00e0fd;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.ContactData input {
  background-color: transparent;
  font-family: "Architects Daughter", cursive;
  display: block;
  font-size: 18px;
  padding: 5px;
  width: 80%;
  color: #00e0fd;
  border: none;
  border-bottom: 1px solid #00e0fd;
  margin: 20px auto;
  border-radius: 0;
}
.ContactData input::placeholder {
  color: rgb(180, 180, 180);
}
.ContactData input:active {
  color: #00e0fd;
  background-color: transparent;
}
.ContactData input:focus {
  color: #00e0fd;
  outline: none;
  border-radius: 0;
  background-color: rgb(26, 26, 26);
}
@media (min-width: 600px) {
  .ContactData {
    width: 80%;
  }
  .ContactData input {
    width: 70%;
  }
  .Emoji {
    bottom: 100px;
  }
}
.ContactData__content {
  opacity: 1;
}
.Emoji {
  position: absolute;
  width: 100px;
  left: -100px;
  bottom: 5%;
  transition: all 1s ease-in-out;
  opacity: 1;
}
