.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 0px;
  font-weight: bold;
  letter-spacing: 1px;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: rgb(198, 255, 201);
  text-shadow: 0 0 2px #fff, 0 0 10px #09ff00, 0 0 20px #09ff00;
}

.Danger {
  color: rgb(255, 198, 252);
  text-shadow: 0 0 2px #fff, 0 0 10px #d400ff, 0 0 20px #d400ff;
}
@media (min-width: 500px) and (min-height: 400px) {
  .Button {
    padding: 10px;
    margin: 10px;
  }
}
