.Login {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}
.Login input {
  background-color: transparent;
  font-family: "Rajdhani", sans-serif;
  display: block;
  font-size: 18px;
  padding: 5px;
  width: 80%;
  color: white;
  border: none;
  border-bottom: 1px solid rgb(126, 126, 126);
  margin: 20px auto;
  border-radius: 0;
}
.Login input::placeholder {
  color: rgb(180, 180, 180);
}
.Login input:active {
  color: white;
  background-color: transparent;
}
.Login input:focus {
  outline: none;
  border-radius: 0;
  background-color: rgb(26, 26, 26);
}
@media (min-width: 600px) {
  .Login {
    width: 80%;
  }
  .Login input {
    width: 70%;
  }
}
