.Sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #110c18;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 200;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;
}
.Logo {
  height: 15%;
  margin-bottom: 15%;
}

@media (min-width: 500px) {
  .Sidebar {
    display: none;
  }
}
.Open {
  transform: translateX(0%);
  box-shadow: 0px 0px 40px 0px #0ff;
}
.Close {
  transform: translateX(-101%);
}
