.BuildControls {
  position: fixed;
  bottom: 0;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  height: 40vh;
  place-content: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 0;
  color: white;
}
.BuildControls p {
  font-size: 28px;
  margin-bottom: 20px;
}
.OrderButton {
  margin-top: 20px;
  background-color: #ffee0052;
  outline: none;
  cursor: pointer;
  border: 1px solid #ffee00;
  border-radius: 5px;
  color: #ffee00;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 50px;
  transition: all 0.3s ease-out;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: rgba(162, 245, 9, 0.411);
  border: 1px solid yellowgreen;
  color: white;
}

.OrderButton:disabled {
  background-color: #3f3f3f;
  cursor: not-allowed;
  border: 1px solid transparent;
  color: #333333;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
