.Meat {
  width: 300px;
  position: absolute;
  top: 140px;
  transform: translateX(-50%);
  z-index: 8;
}
.Salad {
  width: 300px;
  position: absolute;
  top: 90px;
  transform: translateX(-50%);
  z-index: 9;
}
.Bacon {
  width: 300px;
  position: absolute;
  top: 190px;
  transform: translateX(-50%);
  z-index: 9;
}
.Cheese {
  width: 300px;
  position: absolute;
  top: 120px;
  transform: translateX(-50%);
  z-index: 6;
}
.BreadTop {
  width: 300px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 10;
}
.BreadBottom {
  width: 300px;
  position: absolute;
  top: 220px;
  transform: translateX(-50%);
  z-index: 10;
}
@media (min-width: 500px) and (min-height: 400px) {
  .Meat {
    width: 400px;
    top: 180px;
  }
  .BreadBottom {
    width: 400px;
    top: 280px;
  }
  .BreadTop {
    width: 400px;
  }
  .Cheese {
    width: 400px;
    top: 150px;
  }
  .Bacon {
    width: 400px;
    top: 250px;
  }
  .Salad {
    width: 400px;
    top: 115px;
  }
  .Meat {
    width: 400px;
  }
}
